.reg__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  width: 900px;

  margin-left: 13rem;
  margin-bottom: 4rem;
  border-radius: 5px;
}

.reg img {
  width: 100%;
}

.reg__form {
  width: 100%;
  background: rgb(255, 255, 255);
  background-color: aliceblue;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reg__form h2 {
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 2.7rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5rem;
  color: var(--tertiary-color);
}

.reg__form input {
  margin-left: 1.5rem;
  width: 80%;
  height: 30px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  color: var(--heading-color);
}

.reg__form input:focus {
  outline: none;
}

.auth__btn {
  margin-top: 1rem;
  background: rgb(25, 48, 25) !important;
  margin-left: 1.5rem;
  width: 80%;
  color: #fff !important;
}

.reg__form p {
  font-size: 0.9rem;
  color: rgb(25, 48, 25);
  margin-top: 2.5rem;
  text-align: center;
  font-weight: 500;
}
.reg__form p a {
  color: var(--tertiary-color);
  text-decoration: none;
  font-weight: 500;
}
