
.tour__content img{
    margin-top: 1rem;
    width: 100%;
    margin-bottom: 2.5rem;
    border-radius: 0.5rem;
}

.tour__info, .tour__reviews
{
    border-radius: 0.5rem;
    border: 1px solid rgb(229,231,235);
    padding: 2rem;
}

.tour__info h2{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.tour__info span{
    display: flex;
    align-items: center;
    column-gap:0.5rem;
    font-size: 1rem;
    color: var(--text-color);
}

.tour__info span i{
    color: var(--heading-color);
    font-size: 1.1 rem;
}

.tour__extra-details{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.tour__info h5{
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.tour__info p{
    line-height: 30px;
    font-size: 1rem;
    color: var(--text-color);
}

.review__input input{
    
    outline: none;
    margin-right: 1rem;
}

.tour__reviews h4{
    margin-bottom: 3rem;
}

.tour__reviews h5{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.rating__group span{
  
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.rating__group i{
    color: var(--tertiary-color);
    margin-right: 1.5rem;
}


.ri-star-fill.changed{
    color:var(--secondary-color)
}

.review__input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding:0.7rem;
    border-radius: 2rem;
    border: 1px solid var(--secondary-color);
    margin-bottom: 1.5rem;
}

.review__input input{
    border: none;
    width: 100%;
    padding: 0.5rem 0;

}

.review__input input:focus{
    outline:none;
}


.user_review{
    display: flex;
    justify-content: space-between;
    border: 0.1px solid rgb(212, 179, 243);
    border-radius: 20px;
    background-color: azure;
    padding: 0px 50px 10px 50px;
    margin-bottom: 1rem;
}

.review_info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.review_info h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;

}
.reviewer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.reviewer .review_date{
   margin-left: 1rem;
    font-size: small;
    color: grey;
}
.reviewer img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.reviewer h6{
    margin-top: 1rem;
    margin-left: 1rem;
}
.review_date{
    margin-bottom: 2rem;
}

.review_rating {
    display: flex;
    align-items: center;
}

.review_rating  i{
    color: var(--tertiary-color);
}